<html>
<body>
<br>
<br>

<div class=" transbox col-md-8 col-md-offset-1    col-sm-4 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-info" style="color:black" >
    <br>Overweight and obesity are big problems in today's society. Over half the adults are
     overweight or obese. Regardless of these numbers, our society celebrates thinness through the media and the desire
       to lose weight quickly has launched a multi-billion dollar diet industry filled with unregulated
        pills, gadgets, and fad diet gurus. The reality is that there is no "quick fix" when it comes
         to finding the right nutrition combination for you. Each individual is different, and each person
          needs to find his or her own combination of the necessary components: a balanced diet, exercise
          , and an acceptance of natural body type<br><br>

    <h2>What does Fabfit do? </h2>
    This application is created to provide users with nutrition guides in 
    the form of dietary plans and workout routines that are recommended based on the user's specific needs, 
    allowing them to achieve his/her goal faster.
    This application is categorised into two broad areas, one that caters nutrition requirements of the user 
    and the other for the workout routines recommended. Users should be allowed to register and set up
     their profile providing all the necessary information to provide optimal results. The user will then
      be prompted at regular intervals to update the information on his/her profile to maintain accuracy 
      of recommendations.

     <h2>Why Fabfit? </h2>
     This application provides you with workout routines and dietary plans according to your requirements. 
     It filters and shows you relevant information based on your gender, age and BMI. 
     The application also provides you with exercises and workouts focusing on the specific body parts.
      <br><br><br>
</div>

</body>

</html>