
<div _ngcontent-c3="" class="header">
  <br _ngcontent-c3=""><br _ngcontent-c3=""><br _ngcontent-c3="">
    <!-- <h1 _ngcontent-c3="" class=" text-success text-center" style="color:black; font-weight: bold"><br> VEGETABLES </h1> -->
    <br><br><br><br><br>
    <br _ngcontent-c3=""><br _ngcontent-c3=""><br _ngcontent-c3="">

  </div>
<br>
<div class="container-fluid">
  <h2 style="font-family:sans-serif;"><a name="countsfruit"></a>What counts as a cup of vegetables?</h2>
  <div>&nbsp;</div>
  <div class="text">In general, 1 cup of raw or cooked vegetables or vegetable juice, or 2 cups of raw leafy greens can be considered as 1 cup from the Vegetable Group. The table below lists specific amounts that count as 1 cup of vegetables (in some cases equivalents for ½ cup are also shown) towards your recommended intake.</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>


<div style="overflow-x: auto; font-size:16px">
  <div height="100px" overflow-x="auto">&nbsp;</div>
  <div style="overflow-x: auto; font-size:16px">
    <table class="table collapsible table-condensed table-bordered table-responsive table-striped " style="width: 100%; border:2px solid black;" >
      <thead class="theade">
        <tr><th colspan="4" scope="col" style="text-align: center;" >CUP OF VEGETABLE TABLE</th></tr>
        <tr ><th colspan="2" scope="col" style="border-bottom:2px solid black">&nbsp;</th>
          <th style="border-bottom:2px solid black"scope="col">Amount that counts as 1 cup of vegetable</th>
          <th style="border-bottom:2px solid black" scope="col">Amount that counts as 1/2 cup of vegetables</th></tr>
      </thead>
      <tbody>
        <tr ><th rowspan="4" scope="row" style="border-bottom:2px solid black"><strong>Dark Green Vegetables</strong></th>
          <td>Broccoli</td><td><p>1 cup, chopped or florets (31 cal)</p><p>3 spears raw or cooked (33 cal)</p></td>
          <td>&nbsp;</td></tr>
          <tr><td>Greens (collards, mustard greens, turnip greens, kale)</td>
            <td>1 cup, cooked (68 cal)</td><td>&nbsp;</td>
          </tr>
          <tr><td>Spinach</td>
            <td><p>1 cup, cooked(23 cal)</p><p>2 cups, raw (15 cal)</p></td>
            <td><p>1 cup, raw (7 cal)</p></td>
          </tr>
          <tr style="border-bottom:2px solid black" ><td>Raw leafy greens: Spinach, romaine, watercress, dark green leafy lettuce, endive, escarole</td>
            <td><p>2 cups, raw (47 cal)</p></td>
            <td><p>1 cup, raw (24 cal)</p></td>
          </tr><tr ></tr>
          <tr><th rowspan="7" scope="row" style="border-bottom:2px solid black"><strong>Red and Orange Vegetables</strong></th>
            <td>Carrots</td><td>1 cup, strips, slices, or chopped, raw or cooked (45 cal)<br>2 medium (50 cal)<br>1 cup baby carrots (35 cal)</td>
            <td>1 medium carrot(25 cal)<br>About 6 baby carrots</td></tr>
            <tr><td>Pumpkin</td><td>1 cup, mashed, cooked (30 cal)</td><td>&nbsp;</td>
            </tr>
            <tr><td>Red peppers</td>
              <td>1 cup, chopped, raw, or cooked (60 cal)<br>1 large pepper (40 cal)</td>
              <td>1 small pepper (40 cal)</td>
            </tr>
            <tr><td>Tomatoes</td>
              <td>1 large raw whole (33 cal)<br>1 cup, chopped or sliced, raw, canned, or cooked (32 cal)</td>
              <td>1 small raw whole (16 cal)<br>1 medium canned (22 cal)</td>
            </tr>
            <tr><td>Tomato juice</td>
              <td>1 cup (41 cal)</td><td>½ cup (21 cal)</td>
            </tr>
            <tr><td>Sweet potato</td><td>1 large baked (162 cal)<br>1 cup, sliced or mashed, cooked(82 cal)</td>
              <td>&nbsp;</td>
            </tr>
            <tr style="border-bottom:2px solid black"><td>Winter squash (acorn, butternut, hubbard)</td>
              <td>1 cup, cubed, cooked (40 cal)</td><td>½ acorn squash, baked = ¾ cup (47 cal)</td>
            </tr>
            <tr style="border-bottom:2px solid black"><th ><strong>Beans and Peas</strong></th>
              <td>Dry beans and peas (such as black, garbanzo, kidney, pinto, or soy beans, or black-eyed peas or split peas)<br>&nbsp;</td>
              <td>1 cup, whole or mashed, cooked (350 cal)</td><td>&nbsp;</td>
            </tr>
            <tr><th rowspan="3" scope="row" style="border-bottom:2px solid black"><strong>Starchy Vegetables</strong></th>
              <td>Corn, yellow or white</td>
              <td>1 cup (132 cal)<br>1 large ear (123 cal)</td>
              <td><br>1 small ear (63 cal)</td>
            </tr>
            <tr ><td>Green peas</td>
              <td>1 cup (118 cal)</td><td>&nbsp;</td>
            </tr>
            <tr style="border-bottom:2px solid black"><td>White potatoes</td>
              <td>1 cup, diced, mashed (116 cal)<br>1 medium boiled or baked potato (77 cal)</td><td>&nbsp;</td>
            </tr><tr ><th rowspan="11" scope="row" style="border-bottom:2px solid black"><strong>Other Vegetables</strong></th>
              <td>Bean sprouts</td>
              <td>1 cup, cooked (62 cal)</td><td>&nbsp;</td>
            </tr>
            <tr><td>Cabbage, green</td>
              <td>1 cup, chopped or shredded raw or cooked (17 cal)</td><td>&nbsp;</td>
            </tr><tr><td>Cauliflower</td><td>1 cup, pieces or florets raw or cooked (27 cal)</td><td>&nbsp;</td>
            </tr>
            <tr><td>Celery</td><td>1 cup, diced or sliced, raw or cooked (16 cal)<br>2 large stalks (20 cal)</td>
              <td><br>1 large stalk (10 cal)</td>
            </tr>
            <tr><td>Cucumbers</td><td>1 cup, raw, sliced or chopped (16 cal)</td><td>&nbsp;</td>
            </tr>
            <tr><td>Green or wax beans</td><td>1 cup, cooked (31 cal)</td><td>&nbsp;</td>
            </tr>
            <tr><td>Green peppers</td>
              <td>1 cup, chopped, raw or cooked (18 cal)<br>1 large pepper (33 cal)</td>
              <td><br>1 small pepper (15 cal)</td>
            </tr>
            <tr><td>Lettuce, iceberg or head</td><td>2 cups, raw, shredded or chopped (30 cal)</td>
              <td>1 cup, raw, shredded or chopped (15 cal)</td>
            </tr>
            <tr><td>Mushrooms</td><td>1 cup, raw or cooked (16 cal)</td><td>&nbsp;</td>
            </tr>
            <tr><td>Onions</td><td>1 cup, chopped, raw or cooked (46 cal)</td><td>&nbsp;</td></tr><tr><td>Summer squash or zucchini</td><td>1 cup, cooked, sliced or diced (19 cal)</td><td>&nbsp;</td></tr></tbody></table></div></div>

<br>
</div>