
  <div class=" transbox col-md-10 col-md-offset-1 col-sm-4 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-info" style="color:black" >
  
      <!-- <div class=" transbox col-md-10 col-md-offset-1 col-sm-4 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-info" style="color:black" >
    works    
      </div> -->
    
      <h3>General Terms And Conditions Of Business For Using FABFIT</h3> <br><br>
      <p>
        <strong>General Note:</strong> <br>
         The following FABFIT General Terms and Conditions are intended for use with our international 
         customers for which we do not provide localized terms and conditions,specific to any country or location.
         </p><br><br>
    
         <h4>1. Introduction</h4>
         <p>We, at FABFIT pursue a vision:
            We want to support any person, worldwide, to realise his/her full potential,
             physically as well as mentally, and to become the strongest version of one’s self. 
             We provide the most important preconditions with our various products and services for this purpose. 
             FABFIT demands and promotes physical fitness and mental willpower and self-confidence.
              Our focus is on effectiveness and as well as motivation.
              We are looking forward to welcoming you as part of the FABFIT community.</p>
              <p>The following General Terms and Conditions of Business set out the legal framework for using FABFIT and the services that we offer. 
                Therefore, please read these General Terms and Conditions of Business carefully.</p>
          
          <br><br>
                <h4>2. Scope</h4>
                <h4>2.1 Terms and conditions for participating</h4>
                <p>A condition for opening a user account and using the Fabfit Services is that you are at least 18 years of age
                   and have full legal capacity.</p>
                <p>Fabfit is intended exclusively for consumers.
                   The legal definition of a consumer is every natural person that enters into a legal transaction for reasons 
                   that cannot be chiefly attributed to either their commercial or their self-employed occupation.
                    Use of FABFIT for commercial purposes of any kind is expressly prohibited.</p>
                   <br> <h4>2.2 Additional terms and conditions</h4>
                    <p>We reserve the right to agree to additional terms and conditions for individual FABFIT Services. 
                      We will, however, notify you of this in good time prior to use.</p> <br><br>
    
                      <h4>3. FABFIT Services and Prices</h4>
                      <h4> Services free of charge</h4>
                      <p>The scope of the services included in FABFIT is
                          free of charge.You can use it for free of charge and have access to all functions
                           and information of the respective FABFIT Service. 
                           </p>
                      <p>Please note that in order to use some of the FABFIT Services to the full extent,
                         certain equipment and training tools (such as a gym machine, dumbbells or a pull up bar) may be required. 
                         These are not part of the FABFIT Services and need to be provided or purchased by you separately at your own costs.</p>
                      <p>In case of nutrition coachings, please note that the foods suggested as part of the coaching are not part of the FABFIT Services and need to be purchased by you separately at your own cost.</p>
                     <br> <br>
                     
                          <h4>4. Your Health</h4>
                          <h4>4.1 Terms and conditions with regard to your health</h4>
                          <p>Use of the FABFIT Services is at your own risk.</p>
                          <p>In any case a condition for the use of the FABFIT Services is that you must be in a good general state of health. If you have knowledge of any pre-existing medical conditions we advise you to seek medical advice from a doctor urgently before you start the FABFIT Services (such as trainings or coachings). This applies in particular if you have knowledge of one or more of the following medical complaints/conditions/procedures:</p>
                          <ul class="upper-roman">
                            <li>cardiovascular disease,</li>
                            <li>lung or respiratory disease (including asthma),</li>
                            <li>spinal and/or joint problems,</li>
                            <li>neuromuscular disease,</li>
                            <li>surgical procedures,</li>
                            <li>any other health issues</li>
                          </ul>
                          <p>In case of FABFIT Services related to nutrition, you are responsible for verifying that the foods and nutrients recommended as part of the coaching or guide do not contain any ingredients or contents to which you are allergic or which may cause food intolerance.</p>
                          <p>In addition our female athletes should note that pregnant women and breast-feeding mothers should not do the trainings and coachings offered by us.</p>
                          <p>The following general rules apply: Listen to what your body is telling you. Before using the FABFIT Services for the first time or while using FABFIT, if you have any doubts about your health (e.g. because you are experiencing considerable pain, a general malaise, shortness of breath, nausea or dizziness) consult your doctor before starting or continuing with FABFIT.</p>
                          <br> <h4>4.2 No substitute for medical advice</h4>
                          <p>The services and information offered by FABFIT and the FABFIT Services do not constitute medical advice or a doctor's advice. Nor are they a substitute for a medical examination or treatment by a doctor.</p>
                          <br> <h4>4.3 Training/Dietary Methods</h4>
                          <p>Fitness and/or nutritional advice is subject to constantly evolving knowledge in relation to health science, nutritional science and sports science. Although we base our trainings and nutritional tips on current studies and knowledge, we do not guarantee that these reflect the most up to date research findings or knowledge.</p>
                       <br><br>
                        <h4>5. User Account</h4>
                        <h4>Registration process</h4>
                        <p>In order to use the FABFIT Services you must first register
                           and open a user account to use FABFIT. 
                           It is sufficient to open only one user account, even if you wish to use several FABFIT Services (for example different Apps).
                            You can open a user account at the registration page of our application. 
                            You may not use domain names or web URLs in your user name without the prior written approval of FABFIT.
                             We will ask you to accept these General Terms and Conditions of Business and our privacy policy during the registration process.
                              After you register, for security reasons we will first send you an email in which we ask you to verify the registration by clicking on the "Confirm account" field.
                               After you have clicked on this field you will be redirected to a website where we will finally confirm your registration. Only then will the registration process be complete.</p>
                      <br>
    
                        <!-- When registering on our website <a href="https://www.fabfit.com/">www.fabfit.com/</a>, the user contract between you and us is formed after the registration process is fully completed.</p> -->
  </div>
