<div class=" transbox col-md-8 col-md-offset-2    col-sm-4 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-info" style="color:black" >
    <h3 style="text-align:center">ADMIN INSTRUCTIONS</h3>

  <p>
    1.You can add a trainer<br>
    &emsp;&emsp;To add a trainer, fill in his details along with his location & specialization<br><br>
    
    2.You can accept or delete a trainer<br>
    &emsp;&emsp;To accept a trainer, go to view requests & accept. <br>
    &emsp;&emsp;To delete a trainer, go to trainer details page & delete<br><br>

    2.You can modify diet chart<br>
    &emsp;&emsp;To add diet chart,select the prefernce combination from drop down menu and select the component you want to update.
   Fill in the calories and diet data to update for the given combination.<br><br>
    3.You can delete diet chart<br>
    &emsp;&emsp;You can delete a diet chart by selecting combination and updating the text-area as blank.<br><br>

    4.You can modify fitness chart<br>
    &emsp;&emsp;To add fitness chart,select the prefernce combination from drop down menu and select the component you want 
      to update.
      Fill in the fitness data to update for the given combination.<br><br>
    5.You can delete fitness chart<br>
    &emsp;&emsp;You can delete a fitness chart by selecting combination and updating the text-area as blank.<br><br>
    6.You can view all the trainers<br>
  
    
    
    
  </p>
    <br><br><br><br><br><br>

    </div>

    <br><br><br><br><br><br>
