<!DOCTYPE html>
<html>

<body >

<div class="divdiet">
    <h2 style="text-align:center" >WORKOUT GUIDE</h2>

<div class="responsive divdiet image1">
  <div class="gallery">
    <a target="_blank" href="./assets/FEMALE FITNESS/Abs-Seated Cable Rows.jpg">
    
      <img src="./assets/FEMALE FITNESS/Abs-Seated Cable Rows.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc"><a target="_blank" href="ttps://www.youtube.com/watch?v=xQNrFHEMhI4">Seated Cable Rows</a></div>
  </div>
</div>


<div class="responsive divdiet image1">
  <div class="gallery">
    <a target="_blank" href="./assets/FEMALE FITNESS/Alternate arm hammer curls.jpg">
        <img src="./assets/FEMALE FITNESS/Alternate arm hammer curls.jpg" alt="Cinque Terre" >
      </a>
    <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=F7raEfhab8w">Alternate arm hammer curls</a></div>
  </div>
</div>

<div class="responsive divdiet image1">
  <div class="gallery">
    <a target="_blank" href="./assets/FEMALE FITNESS/Arms Cable Curl.jpg">
        <img src="./assets/FEMALE FITNESS/Arms Cable Curl.jpg" alt="Cinque Terre" >
      </a>
    <div class="desc" ><a target="_blank" href="https://www.youtube.com/watch?v=kyyP5l8noSY">Cable Curl</a></div>
  </div>
</div>

<div class="responsive divdiet image1">
  <div class="gallery">
    <a target="_blank" href="/assets/FEMALE FITNESS/Arms- Cable Pressdown.jpg">
        <img src="./assets/FEMALE FITNESS/Arms- Cable Pressdown.jpg" alt="Cinque Terre" >
      </a>
    <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=2-LAMcpzODU">Cable Pressdown</a></div>
  </div>
</div>
<div class="responsive divdiet image1">
    <div class="gallery">
      <a target="_blank" href="./assets/FEMALE FITNESS/Back-Single Leg Deadlift.jpg">
          <img src="./assets/FEMALE FITNESS/Back-Single Leg Deadlift.jpg" alt="Cinque Terre">
        </a>
      <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=mG-Stc3c7N0">Single Leg Deadlift</a></div>
    </div>
  </div>
 
    <div class="responsive divdiet">
        <div class="gallery">
          <a target="_blank" href="./assets/FEMALE FITNESS/ Back-Wide-Stance Barbell Squat.jpg">
              <img src="./assets/FEMALE FITNESS/Back-Wide-Stance Barbell Squat.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
          <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=JXdGBp_YYz0">Wide-Stance Barbell Squat</a></div>
        </div>
      </div>
      <div class="responsive divdiet">
        <div class="gallery">
          <a target="_blank" href="./assets/FITNESS/abc/day12.jpg">
              <img src="./assets/FITNESS/abc/day12.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
          <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=0N8BaSt2Nco">Back lateral pulldowns</a> </div>
        </div>
      </div>
      <div class="responsive divdiet">
          <div class="gallery">
            <a target="_blank" href="./assets/FEMALE FITNESS/Barbell biceps curls.jpg">
                <img src="./assets/FEMALE FITNESS/Barbell biceps curls.jpg" alt="Cinque Terre" width="600" height="400">
              </a>
            <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=kwG2ipFRgfo">Barbell biceps curls</a></div>
          </div>
        </div>
        <div class="responsive divdiet">
            <div class="gallery">
              <a target="_blank" href="./assets/FEMALE FITNESS/Barbell clean and press.jpg">
                  <img src="./assets/FEMALE FITNESS/Barbell clean and press.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
              <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=pajZn-M-r4Q">Barbell clean and press</a></div>
            </div>
          </div>
          <div class="responsive divdiet">
              <div class="gallery">
                <a target="_blank" href="./assets/FEMALE FITNESS/Barbell Curls Lying Against An Incline.jpg">
                    <img src="./assets/FEMALE FITNESS/Barbell Curls Lying Against An Incline.jpg" alt="Cinque Terre" width="600" height="400">
                  </a>
                <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=MmGjEVLO4kY">Barbell Curls Lying Against An Incline</a></div>
              </div>
            </div>
            <div class="responsive divdiet">
                <div class="gallery">
                  <a target="_blank" href="./assets/FEMALE FITNESS/Barbell Deadlift.jpg">
                      <img src="./assets/FEMALE FITNESS/Barbell Deadlift.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                  <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=sLqn0uP6iCU">Barbell Deadlift</a></div>
                </div>
              </div>
                <div class="responsive divdiet">
                    <div class="gallery">
                      <a target="_blank" href="./assets/FITNESS/abc/fembegday14.jpg">
                          <img src="./assets/FITNESS/abc/fembegday14.jpg" alt="Cinque Terre" width="600" height="400">
                        </a>
                      <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=mvBTGx5zu5I">Barbell Hip Thrust</a></div>
                    </div>
                  </div>
                  <div class="responsive divdiet">
                      <div class="gallery">
                        <a target="_blank" href="./assets/FEMALE FITNESS/Bodyweight Walking Lunge.jpg">
                            <img src="./assets/FEMALE FITNESS/Bodyweight Walking Lunge.jpg" alt="Cinque Terre" width="600" height="400">
                          </a>
                        <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=4l5yuw0rhFg">Bodyweight Walking Lunge</a></div>
                      </div>
                    </div>
                    <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="./assets/FEMALE FITNESS/Burpee.jpg">
                              <img src="./assets/FEMALE FITNESS/Burpee.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=dZgVxmf6jkA">Burpee</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="./assets/FEMALE FITNESS/Cable crossovers.jpg">
                              <img src="./assets/FEMALE FITNESS/Cable crossovers.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=D7KaRcUTQeE&vl=en">Cable crossovers</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Close-grip lat pulldowns.jpg">
                              <img src="./assets/FEMALE FITNESS/Close-grip lat pulldowns.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=ecRF8ERf2q4">Close-grip lat pulldowns</a> </div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Crunches.jpg">
                              <img src="./assets/FEMALE FITNESS/Crunches.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI"> Crunches</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Curtsy Lunge.jpg">
                              <img src="./assets/FEMALE FITNESS/Curtsy Lunge.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Curtsy Lunge</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Deadlifts.jpg">
                              <img src="./assets/FEMALE FITNESS/Deadlifts.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Deadlifts</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Dumbbell Bench Press.jpg">
                              <img src="./assets/FEMALE FITNESS/Dumbbell Bench Press.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Dumbbell Bench Press</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Dumbbell bent over rows.jpg">
                              <img src="./assets/FEMALE FITNESS/Dumbbell bent over rows.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Dumbbell bent over rows</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Dumbbell Curl.jpg">
                              <img src="./assets/FEMALE FITNESS/Dumbbell Curl.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Dumbbell Curl</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Dumbbell Kickback.jpg">
                              <img src="./assets/FEMALE FITNESS/Dumbbell Kickback.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Dumbbell Kickback</a></div>
                        </div>
                      </div>
                     
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Dumbbell shrugs.jpg">
                              <img src="./assets/FEMALE FITNESS/Dumbbell shrugs.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Dumbbell shrugs</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="./assets/FEMALE FITNESS/Dumbbell Step Up.jpg">
                              <img src="./assets/FEMALE FITNESS/Dumbbell Step Up.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=-wcgEGQN5_U">Dumbbell Step Up</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Dumbbell Stiff Leg Deadlift.jpg">
                              <img src="./assets/FEMALE FITNESS/Dumbbell Stiff Leg Deadlift.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Dumbbell Stiff Leg Deadlift</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="./assets/FITNESS/abc/femalebeginday12.jpg">
                              <img src="./assets/FITNESS/abc/femalebeginday12.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=D7KaRcUTQeE&vl=en"> DUMBELL LUNGE </a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="./assets/FITNESS/abc/day11.jpg">
                              <img src="./assets/FITNESS/abc/day11.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Barbell benchpress</a></div>
                        </div>
                      
                    </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Flat Bench Cable Flyes.jpg">
                              <img src="./assets/FEMALE FITNESS/Flat Bench Cable Flyes.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Flat Bench Cable Flyes</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Front Dumbbell Raise.jpg">
                              <img src="./assets/FEMALE FITNESS/Front Dumbbell Raise.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Front Dumbbell Raise</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Glute Cable Kickback.jpg">
                              <img src="./assets/FEMALE FITNESS/Glute Cable Kickback.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=G6_-XweEfFY">Glute Cable Kickback</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Goblet Squat.jpg">
                              <img src="./assets/FEMALE FITNESS/Goblet Squat.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Goblet Squat</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Hack Squat.jpg">
                              <img src="./assets/FEMALE FITNESS/Hack Squat.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Hack Squat</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Hammer Curls.jpg">
                              <img src="./assets/FEMALE FITNESS/Hammer Curls.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Hammer Curls</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Incline Dumbbell Bench Press.jpg">
                              <img src="./assets/FEMALE FITNESS/Incline Dumbbell Bench Press.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Incline Dumbbell Bench Press</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Incline Dumbbell curl.jpg">
                              <img src="./assets/FEMALE FITNESS/Incline Dumbbell curl.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Incline Dumbbell curl</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Incline dumbbell flyes.jpg">
                              <img src="./assets/FEMALE FITNESS/Incline dumbbell flyes.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Incline dumbbell flyes</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Incline Dumbbell Press.jpg">
                              <img src="./assets/FEMALE FITNESS/Incline Dumbbell Press.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Incline Dumbbell Press</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Incline SkullCrusher.jpg">
                              <img src="./assets/FEMALE FITNESS/Incline SkullCrusher.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Incline SkullCrusher</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Lateral Raise.jpg">
                              <img src="./assets/FEMALE FITNESS/Lateral Raise.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Lateral Raise</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Leg Extensions.jpg">
                              <img src="./assets/FEMALE FITNESS/Leg Extensions.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Leg Extension</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Leg press machine.jpg">
                              <img src="./assets/FEMALE FITNESS/Leg press machine.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Leg press machine</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Leg Press.jpg">
                              <img src="./assets/FEMALE FITNESS/Leg Press.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Leg Press</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Legs-Barbell squats.jpg">
                              <img src="./assets/FEMALE FITNESS/Legs-Barbell squats.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Legs-Barbell squats</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Machine Chest Fly.jpg">
                              <img src="./assets/FEMALE FITNESS/Machine Chest Fly.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Machine Chest Fly</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="One Arm Dumbbell row.jpg">
                              <img src="./assets/FEMALE FITNESS/One Arm Dumbbell row.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">One Arm Dumbbell row</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="One Arm Side Laterals.jpg">
                              <img src="./assets/FEMALE FITNESS/One Arm Side Laterals.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">One Arm Side Laterals</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="One-Arm Kettlebell Swings.jpg">
                              <img src="./assets/FEMALE FITNESS/One-Arm Kettlebell Swings.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">One-Arm Kettlebell Swings</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Overhead Slam.jpg">
                              <img src="./assets/FEMALE FITNESS/Overhead Slam.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Overhead Slam</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Plank Up.jpg">
                              <img src="./assets/FEMALE FITNESS/Plank Up.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Plank Up</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Pull downs.jpg">
                              <img src="./assets/FEMALE FITNESS/Pull downs.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Pull downs</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Push ups.jpg">
                              <img src="./assets/FEMALE FITNESS/Push ups.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Push ups</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Rope Jumping.jpg">
                              <img src="./assets/FEMALE FITNESS/Rope Jumping.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Rope Jumping</a></div>
                        </div>
                      </div>
                      <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Seated Cable Row.jpg">
                              <img src="./assets/FEMALE FITNESS/Seated Cable Row.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Seated Cable Row</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Seated Dumbbell Press.jpg">
                              <img src="./assets/FEMALE FITNESS/Seated Dumbbell Press.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Seated Dumbbell Press</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Side Lunge.jpg">
                              <img src="./assets/FEMALE FITNESS/Side Lunge.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Side Lunge</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Single Leg Deadlift.jpg">
                              <img src="./assets/FEMALE FITNESS/Single Leg Deadlift.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Single Leg Deadlift</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Smith Machine Sumo Squats.jpg">
                              <img src="./assets/FEMALE FITNESS/Smith Machine Sumo Squats.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Smith Machine Sumo Squats</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Spiderman Plank Jack.jpg">
                              <img src="./assets/FEMALE FITNESS/Spiderman Plank Jack.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Spiderman Plank Jack</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Squat thrusts.jpg">
                              <img src="./assets/FEMALE FITNESS/Squat thrusts.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Squat thrusts</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="SQUATS.jpg">
                              <img src="./assets/FEMALE FITNESS/SQUATS.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a target="_blank" href="https://www.youtube.com/watch?v=aclHkVaku9U">SQUATS</a></div>
                        </div>
                      </div>    <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Standing Military Press.jpg">
                              <img src="./assets/FEMALE FITNESS/Standing Military Press.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Standing Military Press</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Standing One-Arm Cable Curl.jpg">
                              <img src="./assets/FEMALE FITNESS/Standing One-Arm Cable Curl.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Standing One-Arm Cable Curl</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Sumo Deadlift.jpg">
                              <img src="./assets/FEMALE FITNESS/Sumo Deadlift.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Sumo Deadlift</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="T-Bar rows.jpg">
                              <img src="./assets/FEMALE FITNESS/T-Bar rows.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">T-Bar rows</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Treadmill On incline.jpg">
                              <img src="./assets/FEMALE FITNESS/Treadmill On incline.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Treadmill On incline</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="./assets/FEMALE FITNESS/Tricep Dumbbell Kickback.jpg">
                              <img src="./assets/FEMALE FITNESS/Tricep Dumbbell Kickback.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Tricep Dumbbell Kickback</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Tricep Overhead Extension.jpg">
                              <img src="./assets/FEMALE FITNESS/Tricep Overhead Extension.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Tricep Overhead Extension</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Triceps Pushdown.jpg">
                              <img src="./assets/FEMALE FITNESS/Triceps Pushdown.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Triceps Pushdown</a></div>
                        </div>
                      </div>  <div class="responsive divdiet">
                        <div class="gallery">
                          <a target="_blank" href="Walking lunges.jpg">
                              <img src="./assets/FEMALE FITNESS/Walking lunges.jpg" alt="Cinque Terre" width="600" height="400">
                            </a>
                          <div class="desc"><a  target="_blank"  href="https://www.youtube.com/watch?v=5ER5Of4MOPI">Walking lunges</a></div>
                        </div>
                      </div> 
                      
                    </div>
<div class="clearfix"></div>

</body>
</html>
