<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    
      <h3 *ngIf="trainerList" style="text-align: center; color:aliceblue">
          Available Trainers  
        </h3><br>
<div class="container-fluid">
    <div class="col-md-6 col-md-offset-2">

<!-- div start -->
<div *ngIf="trainerList">
   

<div  *ngFor = "let i of trainerList">
            <div class="container">    
                  <div class="col-md-7 col-md-offset-0">
                      <form [formGroup] = "trainerform" >
                      <div class="panel panel-default">
                      <div class="panel-heading">  <h4 >Trainer Profile</h4></div>
                       <div class="panel-body">
                      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                       <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                     
                 
                      </div>
                      <div class="col-md-6 col-xs-12 col-sm-6 col-lg-8" >
                          <div class="container" >
                            <h2>  {{i.name}}   <span class="glyphicon glyphicon-ok-circle" style="width:50px;"></span>                </h2>
                        
                          </div>
                           <hr>
                          <ul class="container details" >
                            <li><p><span class="glyphicon glyphicon-user " style="width:50px;"></span>{{i.gender}}</p></li>
                            <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{i.email}}</p></li>
                            <li><p><span class="glyphicon glyphicon-earphone" style="width:50px;"></span>{{i.contact}}</p></li>
                          </ul>
                          <hr>
                          <div class="col-sm-5 col-xs-6 tital " > <h3> <span class="glyphicon glyphicon-education" style="width:50px;"></span>{{i.specialization}}</h3></div> <br>
                          <button type = "submit" class = "btn btn-primary lg" (click) = "booktrainer(i.email)">Book</button>
                     
                          
                      </div>
                </div>
            </div>
         </form>
        </div>
      </div>
    </div>
  <br>
    <button type = "submit" style="margin-left:250px;" class = "btn btn-danger btn-md" (click) = "removetrainer(email1)">Change your trainer</button>
  </div>
  </div>

  <div class="col-md-2 col-md-offset-0">

<!-- div end -->

  <div *ngIf="successmessage!=null">
    <br><br><br><br>
      <span  class="text-success" style="font-size:22px;font-weight:bolder">{{successmessage}}</span>
      
    </div> 
         <div *ngIf="errormessage!=null">
            <br><br><br><br>
            <span style="font-weight:bolder;font-size:22px;" class="text-danger" >{{errormessage}}</span>
          </div>
  </div>
         

</div>
          <div *ngIf="!trainerList"> <h3 style="text-align: center; color:aliceblue">
              No Trainers Available
            </h3></div>
            
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

 </body>
</html>