.header{
  background: url("/assets/protein header 3 edit cropped centered.jpg") no-repeat;
  background-size: 100%;
  width:106%;
  margin-left: -40px;
  background-attachment: fixed;
  color : black;
}


.container-fluid
{
  background-color:rgba(197, 186, 186, 0.644);
  color:rgb(15, 14, 14);
}
.theade
{
  background-color: rgba(229, 255, 0, 0.575);
}
.text
{
  /* background-color:lightpink; */
  font-size:16px;
}
