<br><br>
<h2 style="text-align:center">Select a diet component</h2>

<div class = " transbox col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-2 col-xs-12 col-xs-offset-0" *ngIf="!status" style="text-align:center">
          <br><br>
          <div >
              <button class="btn btn-block btn-lg  btn-dark btnclass" type="submit"  [routerLink]="['/fruit']">FRUITS</button>
        </div><br>
        <div  >
            <button class="btn btn-block btn-lg btn-dark btnclass" type="submit"   [routerLink]="['/vegetable']">VEGETABLES</button>
        </div> <br>
        <div  >
            <button class="btn btn-block btn-lg btn-dark btnclass" type="submit"  [routerLink]="['/dairy']">DAIRY</button>
        </div><br>
        <div>
            <button class="btn btn-block btn-lg btn-dark btnclass" type="submit" [routerLink]="['/protein-food']">PROTEINS</button>
        </div><br>
        <div   >
            <button class="btn btn-block btn-lg btn-dark btnclass" type="submit"  [routerLink]="['/grain']">GRAINS</button>
        </div><br>
        
        
  </div>
  <br><br> <br><br><br><br><br>            